In [39]:
# Sets
numbers ={1,2,3,4,5,5}
print(numbers)

{1, 2, 3, 4, 5}

In [43]:
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [45]:
numbers.remove(4)
print(numbers)

{1, 2, 3, 5, 6}

In [47]:
setdata={1,2.5,"hello",(3,4)}
print(setdata)

{'hello', 1, 2.5, (3, 4)}

In [49]:
# Dictionary
student={
    "student_name":"Alice",
    "age":25,
    "student_location":"kathmandu"
}
print(student["student_name"])

Alice

In [51]:
student["age"]=22
student["contactno"]=9867632323
print(student)

{'student_name': 'Alice', 'age': 22, 'student_location': 'kathmandu', 'contactno': 9867632323}

In [55]:
# Dictionary key error example (unhashable type)
# my_dict = {}
# key = [1, 2, 3]
# my_dict[key] = "values"  # This will raise TypeError

In [57]:
# Hashable tuple as dict key
my_dict={}
key=(1,2,3)
my_dict[key]="values"
print(my_dict)

{(1, 2, 3): 'values'}

In [59]:
# Conditional check for even/odd
x= int(input("enter a number:"))
if x%2 == 0:
    print("even")
elif x%2 == 1:
    print("odd")
else:
    print("neither even nor odd")

enter a number: 2

even

In [73]:
# Loops
for i in range(3):
    print("for loop iteration",i)
    count=0
    while count<3:
        print("while count is",count)
        count+=1

for loop iteration 0
while count is 0
while count is 1
while count is 2
for loop iteration 1
while count is 0
while count is 1
while count is 2
for loop iteration 2
while count is 0
while count is 1
while count is 2

In [75]:
for i in range(5):
    if i == 3:
        break
    print("break loop i=", i)

break loop i= 0
break loop i= 1
break loop i= 2

In [77]:
for i in range(5):
    if i == 3:
        continue
    print("continue loop i=", i)

continue loop i= 0
continue loop i= 1
continue loop i= 2
continue loop i= 4

In [79]:
for i in range(2):
    pass
print("Done with pass examples")

Done with pass examples

In [95]:
# Function
def greet(name):
    return f"Hello, {name}"

print(greet("Alice"))
message = greet("Alice")
print(message)

Hello, Alice
Hello, Alice

In [97]:
# Pandas DataFrame
import pandas as pd
data={
    "name":["alice","bob","charlie"],
    "age":[25,30,35],
    "location":["kathmandu","bhaktapur","lalitpur"]
}
df=pd.DataFrame(data)
print(df)

      name  age   location
0    alice   25  kathmandu
1      bob   30  bhaktapur
2  charlie   35   lalitpur

In [117]:
# print(df.head())
# print(df.tail())
print(df.shape)
print(df.columns)
print(df.dtypes)
result = df[df["age"] == 25]
print(result)

(3, 3)
Index(['name', 'age', 'location'], dtype='object')
name        object
age          int64
location    object
dtype: object
    name  age   location
0  alice   25  kathmandu

In [119]:
# String type check
x="hello"
print(type(x))
print(x.upper())

<class 'str'>
HELLO

In [121]:
# DataFrame with type checking
df1 = pd.DataFrame({
      "name":["alice","bob","charlie"]
})
print("df1 dtypes:\n",df1.dtypes)
print(type(df1['name'][0]))

df1 dtypes:
 name    object
dtype: object
<class 'str'>

In [125]:
df1 = pd.DataFrame({
    "Name": pd.Series(["Alice", "Bob", "Charlie"], dtype="string")
})
print("df1 dtypes:\n", df1.dtypes)
print(type(df1['Name'][0]))

df1 dtypes:
 Name    string[python]
dtype: object
<class 'str'>

In [137]:
# DataFrame data access
# print(df["name"])
print(df[["name","location"]])
# print(df.loc[0])

      name   location
0    alice  kathmandu
1      bob  bhaktapur
2  charlie   lalitpur